// Site Specific Settings

$sansserif: Arial, sans-serif;
$serif: Georgia,Times,"Times New Roman",serif;

$bodyFontSize: 16;
$light: 300;
$normal: normal;
$bold: bold;

$bodyWidth: 960px;

$bgBodyColor: white;
$bgWrapColor: white;
$textBodyColor: #303030;
$textEmphasisColor: #2bbf8d;
$textTitleColor: black;

$inputBgColor: $bgBodyColor;
$inputBoxShadow: 0px 0px 7px 0px #00ca91;
