!!!
%html{:lang =>  I18n.locale}
  %head
    %meta{:charset => "utf-8"}/
    %title= yield_content(:title) || I18n.t(:title)
    %meta{:name => "description", :content => "YOUR CUSTOM SITE META DESCRIPTION",}/
    /[if lte IE 9] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
  %body{:class => page_classes}
    %header#header
    %section#main
      = yield
    #footer
