// Form specific styles

// Reset {{{

input, select, textarea, fieldset, button { margin: 0 }
fieldset, legend { padding: 0; border: 0 }
body, input, textarea, legend { font: 16px/1.3 $sansserif }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

//}}}
// Basic {{{

.row {
  position: relative;
  margin: 1.6em 0;
}

label {
  display: inline-block;
  vertical-align: top;
}
span.label {
  display: block;
}
span.label, legend {
  padding-bottom: 0.4em;
}
label + label {
  margin-left: 0.8em;
}
select + select {
  margin-left: .2em;
}
input + * {
  margin-left: .4em;
}
input[type="radio"] + span.label,
input[type="checkbox"] + span.label {
  display: inline-block;
  padding: 0;
  margin-left: 0.2em;
  line-height: 0.7;
}
*+html input + span.label { line-height: 1.3 }
.row {
  .small { width: 15%; }
  .medium { width: 40%; }
  .large { width: 75%; }
  .full { width: 100%; }
  .small, .medium, .large, .full {
    input, textarea, select {
      width: 100%;
    }
  }
}

strong.error {
  display: block;
  margin: 0.6em 0 0;
  color: red;
  font-weight: $normal;
}

fieldset ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
fieldset ul + ul {
  margin-left: 1em;
}
*+html fieldset ul + ul { margin-left: 0 }

fieldset li {
  display: block;
  margin: 0 0 0.6em;
}
fieldset li label + input,
fieldset li label + select {
  margin-left: 0.4em;
  margin-top: -1em;
  line-height: 1;
}

fieldset ul li strong.error {
  display: inline-block;
  margin: 0 0 0 0.4em;
}
fieldset ul + ul li strong.error {
  display: block;
  margin: 0.6em 0 0;
}

//}}}
